asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
Django==5.0.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
git-filter-repo==2.38.0
hupper==1.12.1
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
newsapi-python==0.2.7
PasteDeploy==3.1.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
plyer==2.1.0
PyJWT==2.8.0
pypdf==4.2.0
PyPDF2==3.0.1
pypiwin32==223
pyramid==2.0.2
pyramid_jinja2==2.10.1
pywin32==306
requests==2.32.3
schedule==1.2.2
setuptools==70.0.0
sqlparse==0.5.0
translationstring==1.4
tzdata==2024.1
urllib3==2.2.1
venusian==3.1.0
WebOb==1.8.7
zope.deprecation==5.0
zope.interface==6.4.post2
